<div class= "column column-12">
  <div class="ipsum-block row" id=<%= "category-ignore" %> ondrop="IpsumFodder.dropNewWord(event)" ondragover="allowDrop(event)">
    <div class="category-drop-block column column-6">
      <h1> Ignore </h1>
    </div>
    <div class="column column-6">
      <ul></ul>
    </div>
  </div>
</div>
