<div class="column column-6">
  <% base_words.in_groups(3, false) do |group| %>
    <div class="column column-4">
      <ul class="word-split-list">
        <% group.each do |word| %>
          <li class="fodder-word-block" id=<%= "word-#{word}" %> draggable="true" ondragstart="drag(event)"><%= word %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

