<section class="row ipsum-new-content">
  <section class="column column-12">
    <%= form_tag "/ipsum-fodder", class: 'new-ipsum-form' do %>
      <%= text_area_tag 'input-text', nil %>
      <%= submit_tag "Generate Romance" %>
    <% end %>
  </section>
</section>
